@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');


/** CSS RESET **/

* {
    margin: 0;
    box-sizing: border-box;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}


html, body {
    height: 100%;
}

input, button, textarea, select {
    font: inherit;
}

/** CUSTOM VARIABLES **/

:root {

    /* colors */

    --dark: #1f2937;
    --white: #f9faf8;
    --gray: #e5e7eb;
    --blue: #3882f6;

}

/** MAIN STYLING **/

body {
    font-family: 'Roboto', sans-serif;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding: 8px 32px;
}

.logo {
    font-size: 24px;
    color: var(--white);
}

.nav-links {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: var(--gray)
}

.hero {
    display: flex;
    align-items: center;
    margin: auto 0;
    background-color: var(--dark);
    padding: 8px;
}

.hero h1 {
    color: var(--white);
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    color: var(--gray);
    font-size: 18px;

}

.text {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 32px;
    max-width:max-content;
    gap: 8px;
    margin: auto;
}

.image-container {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;

}

img {
    width: 400px;
    height: 350px;
}

button {
    max-width: max-content;
    background-color: var(--blue);
}



